.idea
venv/
*.caffemodel
mobile_net_model/
xception_model/
logs/
training_checkpoints/
.idea/
*.bcf
*.log
*.lof
*.out
*.bbl
*.fls
*.blg
*.aux
*.out
*.lot
*.toc
*.fdb_latexmk
*.avi
/video/*
/video/animations
video2.mp4
model*data*
.DS_Store
